
.mainmenuicon {
	cursor:pointer;
}

.highred {
	/*color:red;
	font-size:9pt;*/
	cursor:alias;
}
body {
   font-family:Helvetica;
   font-size:10pt;
   background:rgb(242,231,212);
}

h1 {
   font-family:Helvetica;
   font-size:13pt;
}

h2 {
   font-family:Helvetica;
   font-size:12pt;
}

.head2 {
   font-family:Helvetica;
   font-size:12pt;
   font-weight: bold;
}

.head3
{
    border-bottom-width:1px;
	border-bottom-color:black;
	border-bottom-style:solid;
}

button.nice {
   background:rgb(242,231,212);
   padding:8px;
}

button.niceInner
{
   background:rgb(250,245,235);
   padding:6px;
}

.innerOperList
{
   background:rgb(250,245,235);
   border:1px solid rgb(40,20,0);
}

td {
    font-size:10pt;
}

td.choice {
    color:#663300;
	cursor:pointer;
	border:4px solid rgb(233,217,196);
	background:rgb(224,204,174);
}

td.calLinks {
	text-align:center;
}

td.stepperButton
{
	border:1pt solid black;
	text-align:center;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calendarTable {
    background-color:#fff;
    color:#333;
    border: 1px solid #bbb;
}
.calendarTable td {
    text-align: center;
    padding: 2px 4px 2px 4px;
}
.calendarTable td.monthHead {
    font-weight: bold;
    border: 1px solid #bbb;
    background-color:#ddd;
}
.calendarTable td.weekDay {
    font-weight: bold;
}
.calendarTable td.monthDay {
    border: 0px solid #ddd;
	cursor: pointer;
}
.calendarTable td.currentDay {
    font-weight: bold;
    color:white;
	background-color: #777;
    border: 0px solid #aaa;
}
.menuItem {
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	padding-bottom:8px;
	border:0;
	background-color: transparent;
	color: blue;
	cursor: pointer;
}
.navigCal {
}
.navigCal td.menuItem {
    text-align:center;
	cursor:pointer;
}

.graytext {
    color:#777;
}

.menuBarDiv {
    border-top:1px solid black;
	width:100%;
}

.menuBarTop{
    border-bottom:1px solid black;
	width:100%;
}

.menuBar {
	text-align:center;
}

.linka {
	color:green;
	cursor:pointer;
}

.menuBar td.menuItem {
    cursor:pointer;
	border:1px solid black;	
}

.shadowSubtitle {
	color: rgb(140,70,0);
}
.highlightFinding {
	background-color: rgb(255,255,128);
}
.Header1 {
    text-align:center;
    font-size:125%;
    font-weight:bold;
}
.Header2 {
    text-align:center;
    font-size:125%;
    font-weight:normal;
    padding:10pt;
}
tr.evenLine {
    background-color:rgb(233,217,196);
}
td.hed {
    font-size:10pt;
    font-weight:bold;
    background:rgb(153,134,117);
    color:white;
    text-align:left;
    vertical-align:center;
    padding-left:5pt;
    padding-right:5pt;
    padding-top:4pt;
    padding-bottom:4pt;
}
td.hed2 {
    font-size:10pt;
    font-weight:bold;
    background:rgb(180,160,140);
    color:white;
    text-align:left;
    vertical-align:center;
    padding-left:5pt;
    padding-right:5pt;
    padding-top:4pt;
    padding-bottom:4pt;
}

table.TodayFestBorder {
    border-width:1pt;
    border-color:#555555;
    border-style:solid 
}
td.TodayCellBody {
    font-size:10pt;
}
td.TodayFestCell {
    font-size:10pt;
    padding-left:7pt;
    padding-right:7pt;
    padding-top:7pt;
    padding-bottom:7pt;
    vertical-align:center; 
}
.MasaHeader {
    padding:10pt;
    text-align:center;
    font-weight:bold;
}
.HeaderTitle {
    font-size:125%;
}
.HeaderTimezone {
    text-align:center;
    font-size:10pt;
    font-weight:normal;
}
.HeaderLocation {
    text-align:center;
    font-size:10pt;
    font-weight:bold;
}
.SankrantiInfo {
    color:blue;
}
.CompareCalDate {
    background:#dddddd;
    text-align:right;
}
.CoreInCalHeader {
    font-weight:bold;
    font-size:80%;
}

p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin:0in;
    font-size:80%;
    font-family:Arial;
}

p.month
{
    margin-right:0in;
    margin-left:0in;
    font-size:170%;
    font-family:Arial;
}

.text
{
    margin-right:0in;
    margin-left:0in;
    font-size:60%;
    font-family:Arial;
}

.tnote
{
    margin-right:0in;
    margin-left:0in;
    font-size:70%;
    font-family:Arial;
}

.tithiname
{
    margin-right:0in;
    margin-left:0in;
    font-size:80%;
    font-family:Arial;
}

.dayt
{
    vertical-align:top;
    font-size:200%;
    font-family:Arial;
    font-weight:bold;
}
td.CalTabCell
{
    border:solid windowtext 1.0pt;
    padding:3.0pt 3.0pt 3.0pt 3.0pt;
}
